{varType Nette\Application\UI\Presenter $presenter}
{define lang-switch, string $lang, string $name, ?string $class = null}
	<a n:href="this, 'lang' => $lang" n:class="$presenter->isLinkCurrent() ? $class ? $class : 'fw-semibold'">
		{$name}
	</a>
{/define}
